<%= render 'shared/page_title', title: "LogIn" %>
<div class="row">
	<div class="col-md-12">
		<%= form_for(:session, html: {class: "form-horizontal"}, url: login_path) do |f| %>
			<div class="form-group">
			<div class="control-label col-md-2">
				<%= f.label :email %>
			</div>
			<div class="col-md-8">
				<%= f.text_field :email, rows: 10, class: "form-control", placeholder: "Enter your email address" %>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label col-md-2">
				<%= f.label :password %>
			</div>
			<div class="col-md-8">
				<%= f.password_field :password, rows: 10, class: "form-control", placeholder: "Enter your password" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<%= f.submit "Login",class: "btn btn-primary btn-lg btn-xlarge" %>
			</div>
		</div>
		<div class="center colormatch">
			[ <%= link_to "Dont have an account Signup now", signup_path %> ]
		</div>	
		<% end %>
	</div>
</div>
<br>
